page-login {


	.icone{
		font-size: 30px;
	}

	.centro{
		text-align: center;
		font-size: 30px;
	}
	.tam2{
		font-size: 15px;
	}

	.tam{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #2f3b49;
  }

	.cont{
		background-color: #c3d8c0;
	}

	.reg{
		margin-top: 40px;
	}
}
