
<ion-header>
  <ion-toolbar color="principal">
  <!-- <button ion-button menuToggle> <ion-icon name="menu"></ion-icon></button> -->
    <ion-title>Objetos Doados</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="confirmSair()"><ion-icon name="log-out"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content class="cont">

  <div *ngIf="objetos.length < 1">
    <h2>Nenhum Objeto foi doado até o momento</h2>
  </div>
  <ion-list [virtualScroll]="objetos">

 		<ion-item *virtualItem="let objeto" (click)="clicado(objeto)">
      <ion-thumbnail item-left>
        <img [src]="objeto.imagem" *ngIf="objeto.imagem != 'img' " />
      </ion-thumbnail>
      <h2>{{ objeto.titulo }}</h2>
 		</ion-item>

</ion-list>





</ion-content>
