page-objeto-add-img-page {
  .centro{
    text-align: center;
    font-weight: bold;
    font-size: 20px;

  }

  .cont{
    background-color: #c3d8c0;
  }

  .btn{
    // width:50px;
    // height:50px;
    font-size: 30px;
    top:25%;
    left:30%;


  }

  .tam{
    font-weight: bold;
    font-size: 25px;
    color: #2f3b49;
  }

  .tam2{
    color: #70531e;
    font-size: 20px;
  }
}
