
<ion-header>

  <ion-navbar color="principal">
    <ion-title>{{objeto.titulo != undefined ? objeto.titulo : 'Novo Objeto'}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<form [formGroup]='cadastro' (ngSubmit)='salvarObjeto()'>
	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-label floating>
						Titulo
					</ion-label>
					<ion-input type='text' name='titulo' formControlName='titulo'></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<ion-item>
					<ion-label floating>
						Descrição
					</ion-label>
					<ion-textarea type='text' name='descricao' formControlName='descricao'></ion-textarea>
				</ion-item>
			</ion-col>
		</ion-row>


    <ion-row>
			<ion-col>
					<ion-label>
						Imagem
					</ion-label>
					<button ion-button (click)="foto()">Tirar Foto</button>
			</ion-col>
		</ion-row>

    <ion-row>
      <ion-col>
          <img [src]="objeto.imagem" *ngIf="objeto.imagem" />
      </ion-col>
    </ion-row>

		<ion-row>
			<ion-col>
				<!-- <button ion-button full (click)="salvarObjeto()">
					Salvar Objeto
				</button> -->
        <button [disabled]='cadastro.invalid' ion-button full block color='principal'>Salvar</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</form>

<!-- <ion-card>
   <ion-card-content>
     Hello World, this is my camera app

     <button (click)="takePicture()">Take a Picture</button>

     Latest Picture:
     <img [src]="base64Image" *ngIf="base64Image" />
   </ion-card-content>
 </ion-card> -->
</ion-content>
