page-objeto-list-page {

  .cont{
    background-color: #c3d8c0;
  }

  .carde{
    text-align: auto;
    font-size: 20px;
    height: 60px;
  }

  .botao{
    width: 60px;
    font-size: 25px;
  }
}
