page-registrar {
  .tam{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #2f3b49;
  }

  .tam2{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #0c7509;
  }

  .cont{
    background-color: #c3d8c0;
  }
}
